<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>membersOnly</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
     <body>
    <header>
     <img src="logoipsum-288.svg" alt="logo">
     <button>Sign in</button>
    </header>
    <div class="content"></div>
  </body>
</html>
