body {
  box-sizing: border-box;
  margin: 1rem 8rem;
  padding: 0;
  background-color: #023047;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

button {
  padding: 0.7rem;
  font-size: 1.6rem;
  font-weight: 530;
  border-radius: 16px;
  color: white;
  background-color: #023047;
  border: solid 2px #219ebc;
  border-radius: 3rem;
}

.content {
  border-top: solid 4px #219ebc;
  width: 100%;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
}

dialog {
  background-color: #023047;
  border-radius: 20px;
}

.newMessage {
  position: fixed;
  bottom: 20px;
}

.message form * {
  margin: 3px;
  width: 90%;
}

.card * {
  padding: 0;
  margin: 0;
}

.card {
  padding: 10px;
  margin: 10px;
  background-color: #219ebc;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card p {
  margin-left: 10px;
}

.card .ditails {
  margin-top: auto;
}
